.aboutUsPage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUsPage .searchCont {
  width: 100%;
  background-image: url("../image/search about.jpg");
  background-size: cover;
}

.aboutUsPage .downloadContarct {
  width: 180px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  padding: 10px;
  background-color: #3d92a7;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white !important;
}

.aboutUsPage .downloadContarct svg {
  color: white;
}

.aboutUsPage .downloadcontract {
  margin-top: 30px !important;
}

.aboutUsPage .aboutUsCont {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.aboutUsPage .aboutUsCont .pageLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  color: black;
  font-family: MsR;
  font-size: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.aboutUsPage .aboutUsCont .pageLink a {
  color: black;
}

.aboutUsPage .aboutUsCont .pageLink svg {
  width: 10px;
}

.aboutUsPage .aboutUsCont .aboutText {
  width: 90%;
  margin-top: 48px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aboutUsPage .aboutUsCont .aboutText p {
  margin: 0px;
}

.aboutUsPage .aboutUsCont .aboutText .title {
  font-size: 36px;
  color: #00252E;
}

.aboutUsPage .aboutUsCont .aboutText .text {
  margin-top: 47px;
  width: 100%;
  font-size: 20px;
  color: black;
}

.aboutUsPage .aboutUsCont .aboutText .gridCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 53px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 40px;
}

.aboutUsPage .aboutUsCont .aboutText .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "MsR";
  color: #00252E;
}

.aboutUsPage .aboutUsCont .aboutText .item img {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
}

.aboutUsPage .aboutUsCont .aboutText .item .title {
  margin-top: 57px;
  font-size: 24px;
}

.aboutUsPage .aboutUsCont .aboutText .item .title2 {
  margin-top: 30px;
}

.aboutUsPage .aboutUsCont .aboutText .item .subTitle {
  margin-top: 20px;
  color: #00252E;
  font-weight: 450;
}

.aboutUsPage .aboutUsCont .aboutText .item .subTitle a {
  color: #00252E;
}

.aboutUsPage .aboutUsCont .aboutText .item .number {
  color: #00252E !important;
  margin-top: 20px !important;
}

.aboutUsPage .aboutUsCont .aboutText .item .flexCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutUsPage .aboutUsCont .aboutText .item .flexCont a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.aboutUsPage .aboutUsCont .aboutText .item .flexCont a p {
  margin: 0px;
}

@media only screen and (max-width: 958px) {
  .aboutUsPage .mainTitle {
    text-align: center;
  }
  .aboutUsPage .item1, .aboutUsPage .item2, .aboutUsPage .item3 {
    width: 100%;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}
/*# sourceMappingURL=aboutUsPage.css.map */