.aboutUsPage
{
    
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
    .searchCont
    {
        width: 100%;
        background-image: url('../image/search about.jpg');
        background-size: cover;
    }
    .downloadContarct
    {
        width: 180px;
        column-gap: 20px;
        padding: 10px;
        background-color: #3d92a7; 
        border-radius: 5px;  
        display: flex;
        justify-content: center;
        align-items: center;
        svg 
        {
            color: white;
        }
        color: white !important;
    }
    .downloadcontract
    {
        margin-top: 30px !important;
    }
    .aboutUsCont
    {
        width: 98%; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        .pageLink
        {
            display: flex;
            column-gap: 10px;
            color: black;
            font-family: MsR;
            font-size: 13px;
            align-items: center;
            width: 90%;
            a
            {
                color: black;
            }
            svg 
            {
                width: 10px;
            }
        }
        .aboutText
        {
            width: 90%;
            margin-top: 48px;
            align-self: center;
            p 
            {
                margin: 0px;
            }
            .title 
            {
                font-size: 36px;
                color: #00252E;
            }
            .text
            {
                margin-top: 47px;
                width: 100%;
                font-size: 20px;
                color: black;
            }
            .gridCont
            {
                display: flex;
                flex-wrap: wrap;
                margin-top: 53px;
                justify-content: space-around;
                row-gap: 40px;
            }
            .item
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: "MsR";
                color: #00252E;
                img 
                {
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    border-radius:15px ;
                }
                .title
                {
                    margin-top: 57px;
                    font-size: 24px;
                }
                .title2
                {
                    margin-top: 30px;
                }
                .subTitle 
                {
                    margin-top: 20px;
                    color: #00252E;
                    font-weight: 450;
                    a 
                    {
                        color: #00252E;
                    }
                }
                .number
                {
                    color: #00252E !important;
                    margin-top: 20px !important;
                }
                .flexCont
                {
                    display: flex;
                    flex-direction: column;
                    a 
                    {
                        display: flex;
                        align-items: center;
                        margin-top: 20px;
                        column-gap: 16px;
                        p 
                        {
                            margin: 0px;
                        }
                    }
                }
            }
        }
    } 
    





}

//Mobile
@media only screen and (max-width: 958px) {
    .aboutUsPage
    {
        .mainTitle
        {
            text-align: center;
        }
        .item1 , .item2 , .item3
        {
            width: 100%;
            align-items: flex-start !important;
        }
    }
}