.resume
{
    width: 820px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 38px;
    padding-right: 38px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
    .btnCont
    {
        display: flex;
        column-gap: 13px;
    }
    button 
    {
        width: 55px;
        height: 29px;
        background: #3D92A7;
        border-radius: 6px;
        border: none;
        
    }
    a 
    {
        width: 55px;
        height: 29px;
        background: #3D92A7;
        border-radius: 6px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}