.cvUpload
{
    margin-top: 50px;
    width: 320px;
    min-height: 155px;
    row-gap: 10px;
    align-self: center;
    border-radius: 10px;
    outline: none;
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .title
    {
        margin: 0px;
        margin-top: 15px;
        font-family: "MsM";
    }
    .addFile
    {
        font-family: "MsM";
        margin: 0px;
        padding: 0px;
        width: 95%;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: white;
        border: 1px solid gray; 
        display: flex;
        justify-content: center;
        .textPhoto
        {
            margin: 0px ;
            align-self: center;
            color: black;
            font-size: 18px;
            width: 150px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            position: absolute;
            font-family: "MsM";
        }
        .addFileInput
        {
            height: 100%;
            width: 100%;
            opacity: 0;
        }
    }
    .uploadBtn
    {
        width: 95%;
        height: 40px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00252e;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        font-family: "MsM" ;
        transition:0.5s color  , 0.5s background-color;
        &:hover 
        {
            background-color: white;
            border: 1px solid #00252e;
            color: #00252e;
            transition:0.5s color ,  0.5s background-color;
        }
    }
}