
.swiperContFilter
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    width: 267px;
    height: 100vh;
    overflow: scroll;
    transform: translateX(-320px);
    transition: 0.3s;
    left: 0px;
    position: fixed;
    z-index: 99999999999;
    top: 0px;
    background-color: white;
    padding: 26px;
    .rmvBtn
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        button 
        {
            margin-top: 10px;
            // margin-right: 10px;
            font-size: 18px;
            font-family: 'MsR';
            border: none;
            background-color: transparent;
        }
    }
}
.vacancyListingPage
{
    
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
    .loader
    {
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        column-gap: 70px;
    }
    .filtrDiv
    {
        margin-top: 56px;
    }
    .filtering
    {
        width: 300px;
        height: 49px;
        margin-top: 40px;
        margin-bottom: 40px;
        background: #3D92A7;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 18px;
        font-family: "MsR";
        &:hover 
        {
            background-color: white;
            color: #3D92A7;
            border: 1px solid #3D92A7;
            transition: all 1s;
        }
    }
    .vacancyCont
    {
        width: 95%; display: flex; flex-direction: column;
    }
    .pageLink
    {
        display: flex;
        column-gap: 10px;
        margin-top: 20px;
        color: black;
        font-family: MsR;
        font-size: 13px;
        align-items: center;
        svg 
        {
            width: 10px;
        }
    }
    .flexCont
    {
        display: flex;
        column-gap: 70px;
    }
    .titlePage
    {
        font-size: 36px;
        font-family: "MsR";
        color: #00252E;
        margin-left: 90px;
        margin-bottom: 0px;
    }
    .AsideForCVandVacancy 
    {
        margin-top: 30px;
    }
    .dateSelection
    {
        width: 190px;
        height: 36px;
        align-self: flex-end;
        background: #FFFFFF;
        border: 1px solid #3D92A7;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .searchCont
    {
        width: 100%;
        background-image: url('../image/search\ vacansy\ list.jpg');
        background-position: center;
    }
    .pagination
    {
        margin-top: 80px;
        justify-content: center;
        .MuiPagination-ul
        {
            width: 100%;
            justify-content: center;
            li 
            {
                button
                {
                    border: 1px solid #C4C4C4;
                    font-size: 18px;
                    width: 27px;
                    height: 30px;
                    font-family: "MsR";
                }
            }
            .Mui-selected
            {
                background: #3D92A7;
                color: white;
            }
        }
    }

   
}



//Mobile 
@media only screen and (max-width: 1051px) {
    .vacancyListingPage
    {
        .vacancyCont
        {
            width: 98%; display: flex; flex-direction: column;
        }
        .flexCont
        {
            column-gap: 20px;
        }
    }
}

//Mobile 
@media only screen and (max-width: 958px) {
    .vacancyListingPage
    {
        .pageLink
        {
            align-self: flex-start;
        }
        .filtering 
        {
            margin: 0px;
        }
        .title 
        {
            text-align: center;
            padding: 0px ;
            margin: 0px ;
            margin-top: 42px;
            margin-bottom: 30px;
            font-size: 24px;
        }
        
        .vacancyCont
        {
            width: 98%; display: flex; flex-direction: column;
            align-items: center;
        }
        .flexCont
        {
            column-gap: 20px;
        }
        .gridCont
        {
            margin-top: 20px;
        }
    }
}